<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script type="text/javascript">
        var checked = [true, true, true, true, true, true, true];


        function hideColumn1(tableId, colIndex) {
            var table = document.getElementById(tableId);
            console.log(tableId,table);
            if (table != null) {
                for (i = 0; i < table.rows.length; i++) {
                    if (checked[colIndex - 1]) {
                        table.rows[i].cells[colIndex - 1].style.display = 'none';

                    }
                    else
                        table.rows[i].cells[colIndex - 1].style.display = '';
                }
                checked[colIndex - 1] = !checked[colIndex - 1 ];
            }
        }
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="header-logo">
				@Html.ActionLink("Evidencija Potrošnje", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
			</div>
			<div class="header-nav">
				@Html.ActionLink("Import", "Index", "Import", new { area = "" }, new { @class = "navbar-item" })
				@Html.ActionLink("Export", "Index", "Export", new { area = "" }, new { @class = "navbar-item" })
				@Html.ActionLink("Dodaj Državu", "Index", "StateInfo", new { area = "" }, new { @class = "navbar-item" })
			</div>
		</div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

	<footer>
        <div>
			<p>Evidencija Potrosnje</p>
			<p>Projekat iz Razvoja elektroenergetskog softvera</p>
			<p>2021.</p>
        </div>
		<div>
			<p>Dusan Kokotovic</p>
			<p>Aleksandar Polic</p>
			<p>Aleksandar Stamenkovic</p>
		</div>
	</footer>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>