@using SharedModels;
@{
	ViewBag.Title = "Index";
	ViewBag.States = new List<string>() { "srbija", "mne,ma" };
}
@model List<StateInfoModel>

<h1>Dobrodošli u aplikaciju Evidencija Potrošnje</h1>

<form method="get" action="/Home/Import">
	<select name="weatherFile" multiple>
		<option value="Srbija">Srbija</option>
		<option value="Nemacka">Nemacka</option>
		<option value="Srbija">Srbija</option>
		<option value="Nemacka">Nemacka</option>
		<option value="Srbija">Srbija</option>
		<option value="Nemacka">Nemacka</option>
	</select>

	<select name="stateName" multiple>
		<option value="Srbija">Srbija</option>
	</select>

	<input type="date" name="startDate" />
	<input type="date" name="endDate" />

	<input type="submit" value="Import" />

</form>

<table class="import-table">
	<tr>
		<th>Drzava</th>
		<th>UCT vreme</th>
		<th>Elektricna Energija</th>
		<th>Temperatura</th>
		<th>Pritisak</th>
		<th>Vlaznost vazduha</th>
		<th>Brzina vetra</th>
	</tr>

	@foreach (var state in Model)
	{
		foreach (var cons in state.StateConsumption)
		{
			var weather = state.StateWeathers.Where(e => e.LocalTime.Date == cons.DateShort.Date).DefaultIfEmpty(state.StateWeathers[0]).FirstOrDefault();
			<tr>
				<td>@state.StateName</td>
				<td>@cons.DateShort</td>
				<td>@cons.Value</td>
				<td>@weather.AirTemperature</td>
				<td>@weather.StationPressure</td>
				<td>@weather.Humidity</td>
				<td>@weather.WindSpeed</td>
			</tr>
		}
	}
	
</table>
