@using SharedModels;
@{
	ViewBag.Title = "Index";
	ViewBag.States = new List<string>() { "srbija", "mne,ma" };

	List<StateInfoModel> models = ViewBag.Models;
}
@model List<StateInfoModel>

<h1>Dobrodošli u aplikaciju Evidencija Potrošnje</h1>

<form method="get" action="/Home/Import">
	<select name="weatherFile" multiple>
		<option value="Serbia">Serbia</option>
		<option value="Germany">Germany</option>
	</select>

	<select name="stateName" multiple>
        <option value="Serbia">Serbia</option>
	</select>

	<input type="date" name="startDate" />
	<input type="date" name="endDate" />

	<input type="submit" value="Import" />

</form>

<table class="import-table">

    @foreach (var state in models)
    {
        <tr>
            <th>Drzava</th>
            <td>@state.StateName</td>
        </tr>

        <tr>
            <th>UCT vreme</th>
            <th>Elektricna Energija</th>
        </tr>

        foreach (var cons in state.StateConsumption)
        {
            <tr>
                <td>@cons.DateShort</td>
                <td>@cons.Value</td>
            </tr>
        }

        <tr>
            <th>Temperatura</th>
            <th>Pritisak</th>
            <th>Vlaznost vazduha</th>
            <th>Brzina vetra</th>
        </tr>
        foreach (var w in state.StateWeathers)
        {
            <tr>
                <td>@w.AirTemperature</td>
                <td>@w.StationPressure</td>
                <td>@w.Humidity</td>
                <td>@w.WindSpeed</td>
            </tr>
        }

    }

</table>
